#outside, #resultwarning {
    line-height: 140%;
    padding: 10px 0;
    text-align: center;
    display: none;
}
.header {
    margin: 10px 0 0 0 !important;
    padding-bottom: 9px
}
#map-canvas {
    height: 400px;
    width:100%;
    margin: 10px 0 10px 0;
}
.info {
    background-color: #D9EDF7;
}
.navbar {
    margin-bottom: 5px;
}

