<div id="classBarNav">
    <ul class="classBarNavMember">
        <li><!-- Hello Visitor --></li>
    </ul>
    <ul class="classBarNavLink">
        <li>
            <a href="http://myaccount2.latimes.com">Membership Services</a>
         </li>
         <li>
            <a href="http://latimes.com/classified/jobs/">Jobs</a>
         </li>
         <li>
            <a href="http://www.latimes.com/classified/automotive/">Cars</a>
         </li>
         <li>
            <a href="http://latimes.com/classified/realestate/">Real Estate</a>
         </li>
         <li>
            <a href="http://www.latimes.com/membership">Subscribe</a>
         </li>
         <li>
            <a href="http://latimes.com/classified/realestate/rentals/">Rentals</a>
         </li>
         <li>
            <a href="http://latimes.com/classified/">Classifieds</a>
         </li>
         <li>
            <a style="color:green;" href="http://www.latimes.com/custompublishing/">Custom Publishing</a>
         </li>
        <li style="padding: 2px; position: relative; bottom: 4px; background-color: black; border: 1px solid black; border-radius: 2px 2px 2px 2px;"  class="lastMenuItem">
            <a style="background-color: black; color:white;" href="http://www.latimes.com/advertiser/">Place Ad</a>
         </li>
    </ul>
</div><!-- close #classBarNav -->
